body{
  background-color: white;
}
.navbar {
    overflow: hidden;
    background-color: #70706F;
    font-family: Arial, Helvetica, sans-serif;
    padding: 80px 180px 0px 200px;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: left;
    text-decoration: none;
    padding: 10px 25px 10px 25px;
}

.dropdown {
    float: left;
    padding: 10px 15px 0px 15px;
}

.dropdown .dropbtn {
    cursor: pointer;
    padding:0px;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    background-color: #70706F;
    font-family: inherit;
    position:relative;
    display:inline-block;
}

.navbar a:hover, .dropdown-content a:hover{
    background-color: #92928F;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    z-index: 1;
    text-align: center;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.active, .dropdown-content a.active{
  background-color: black;
}

.header-container{
  margin:0px 180px 0px 180px;
  display:inline-block;
<<<<<<< HEAD
  background-image: url("/home/gurl3va/unise/images/d88fa4_f48e9f50b29247939fca75b06c3d6d7b.jpg")
=======
  background-image: url("images/d88fa4_f48e9f50b29247939fca75b06c3d6d7b.jpg")
>>>>>>> 08ee3bbfc7386e5dbda77766b59d703e4a76903e
}

.header-title{
  color: white;
  background-color: #0065A9;
  text-align: center;
  display: inline-block;
  margin:0px 170px 0px 170px;
  position: relative;
  z-index: 0;
}
.info-section{
  margin:0px 200px 0px 180px;
  background-color: white;
}
.info-container{
  display:grid;
}

.info-title{
  display: block;
  color: white;
  background-color: #094759;
  font-size: 1.3em;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
}
.infos{
  color: #515151;
  font-size: 0.8em;
}
.place-pic{
  border-radius: 0.6em;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
.info-subtitle{
  color: #0063A6;
}

.dates{
  color: black;
}

.badge{
  border-radius: 50%;
  margin: 20px;
  float: left;
  border: 6px solid white;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer-container{
  display: flex;
  flex-direction: row;
  color: white;
  margin: 0px;
  font-size:0.8em;
  text-align: left;
  background-color: #003254;
  padding: 10px 180px 30px 200px;
}

.footer-info{
  padding: 0px 80px 10px 0px;
}
.footer-info a{
  text-decoration: none;
  color:white;
}

.footer-info i{
  color:black;
  padding:20px;
}

.bold{
  font-weight: 600;
  font-size: 1.1em;
}

/*slideshow*/
.slideshow-container {
  margin:0px;
  display:block;
  height:300px;
  z-index: 0;
  position:relative;
}
.slide-right{
  position:relative;
  animation:animateright 0.4s;
}
@keyframes animateright{
  from{right:-300px;opacity:0.8;}
  to{right:0;opacity:1;}
}
/*
.dot {
  height: 10px;
  width: 10px;
  margin: 0 2px;
  border-radius: 50%;
  display: inline-block;
  transition: ease;
  background-color: #D6D6D6;
  z-index: 1;
}*/
.dot {
  height: 10px;
  width: 10px;
  margin: 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot:hover {
  cursor: pointer;
  background-color: black;
}

.blue-title{
  color:#0065A9;
  font-size: 1.3em;
}

.orange-title{
  color: #E64602;
  font-weight:bold;
  float:left;
  width: 250px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
    text-align: left;

}
tr th{
  background-color: #0088CB;
  color: white;
}
tr th:hover {
  cursor:pointer;
}
tr:hover {
  background-color:gray;
}
